[Desktop Entry]
Version=1.0
Type=Application
Name=Fling Trainer - {{ name }}
Comment=Fling Trainer para {{ name }}
Exec={{ script_path }}
Icon={{ icon_path }}
Terminal=false
Categories=Game;
StartupNotify=true
StartupWMClass=fling-trainer-{{ app_id }}
